@model UserActivityWeb.Models.Status
@{
    var title = "Create Status";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">

    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.StatusId != 0)
        {
            <input type="hidden" asp-for="StatusId" />
            title = "Edit Status";
        } 

        <div class="col-12 p-3">
            <h2 class="text-primary">@title</h2>
        </div>

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="StatusName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="StatusName" class ="form-control" />
                    <span asp-validation-for="StatusName" class="text-danger"></span>
                </div>
            </div>
            </br>
            <div class="form-group row">
                <div class="col-4 offset-4">
                    <button type="submit" class="btn btn-primary form-control">
                        @(Model.StatusId != 0 ? "Update" : "Create")
                    </button>
                </div>
                <div class="col-4">
                    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                </div>
            </div>
        </div>
      
    </div>

</form>